doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title 学生界面
    link(rel="stylesheet" href="/styles/studentstyles/interface.css")
  body.student-background
    a(href="/login" class="back-button") 
      img(src="/images/backbutton.png" alt="Back Button")
    a(href="/student/support" class="support-link") 
      img(src="/images/supportbutton.png" alt="Support Button")
    .container
      a(href="/student/info" class="avatar-link")
        img(src="/images/studentavatar.jpg" alt="Student Avatar")
      .info
        h2= student.Student_name + '小朋友'
        p= student.Gender + '生'
        p= student.age + '岁'
        p= student.symptoms
        p= '家住' + student.Address_City + student.Address_District
      .buttons
        a(href="/student/timetable" class="btn-link")
          img(src="/images/timetablebutton.png" alt="Timetable button")
        a(href="/student/report" class="btn-link")
          img(src="/images/reportbutton.png" alt="Report button")
