doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title 课程表
    link(rel="stylesheet" href="/styles/studentstyles/timetable.css")
  body.student-background
    a(href="/student/interface" class="back-button")
      img(src="/images/backbutton.png" alt="Back Button")
    .container
      h1 课程表
      table
        thead
          tr
            th 课程名称
            th 日期
            th 时间
            th 上课地点
            th 教师
        tbody
          each course in courses
            tr
              td= course.course_name
              td= course.date
              td= course.time
              td= course.classroom
              td= course.teacher_name
