doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title 个人信息修改
    link(rel="stylesheet" href="/styles/teacherstyles/info.css")
  body.teacher-background
    a(href="/teacher/interface" class="back-button")
      img(src="/images/backbutton.png" alt="Back Button")
    .container
      h1 老师信息修改
      form(action="/teacher/update-info" method="post")
        div
          label(for="Teacher_name") 姓名
          input(type="text" id="teacher_name" name="teacher_name" value=teacher.Teacher_name required)
        div
          label(for="gender") 性别
          select(id="gender" name="gender")
            option(value="男" selected=(teacher.gender === '男')) 男
            option(value="女" selected=(teacher.gender === '女')) 女
        div
          label(for="DOB") 出生日期（年-月-日）
          input(type="date" id="DOB" name="DOB" value=teacher.formattedDOB required)
        div
          label(for="Address") 地址
          input(type="text" id="Address" name="Address" value=teacher.Address required)
        div
          label(for="Phone_number") 电话
          input(type="text" id="Phone_number" name="Phone_number" value=teacher.Phone_number required)
        div
          label(for="Institution_name") 机构
          input(type="text" id="Institution_name" name="Institution_name" value=teacher.Institution_name required)
        div
          button(type="submit") 保存
