doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title 课程表
    link(rel="stylesheet" href="/styles/teacherstyles/timetable.css")
  body.teacher-background
    a(href="/teacher/interface" class="back-button")
      img(src="/images/backbutton.png" alt="Back Button")
    .container
      h1 课表
      table
        thead
          tr
            th 日期
            th 时间
            th 课程名称
            th 教室
            th 教师
            th 学生
            th 编辑 删除
        tbody
          if courses && courses.length > 0
            each course in courses
              tr
                td= course.date
                td= course.time
                td= course.course_name
                td= course.classroom
                td= course.teacher_name
                td
                  if course.students && course.students.length > 0
                    each student, index in course.students
                      span #{student.student_name}
                      if index < course.students.length - 1
                        | ,
                  else
                    span 没有学生
                td 
                  button(type='editbutton', onclick=`window.location.href='/teacher/course/${course.schedule_id}/edit'`, class='edit-button')
                    img(src='/images/editbutton.png', alt='编辑')
                  button(type='deletebutton', onclick=`if(confirm("确定要删除这个课程安排吗？")) { window.location.href='/teacher/course/${course.schedule_id}/delete'; }`, class='delete-button')
                    img(src='/images/deletebutton.png', alt='删除')
          else
            tr
              td(colspan="7") 没有课程安排