doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title 课程表
    link(rel="stylesheet" href="/styles/teacherstyles/timetable.css")
  body.teacher-background
    a(href="/teacher/interface" class="back-button")
      img(src="/images/backbutton.png" alt="Back Button")
    .container
      h1 课表
      table
        thead
          tr
            th 日期
            th 时间
            th 课程名称
            th 教室
            th 教师
            th 学生链接
        tbody
          if courses && courses.length > 0
            each course in courses
              tr
                td= course.date
                td= course.time
                td= course.course_name
                td= course.classroom
                td= course.teacher_name
                td 
                  a(href=`/teacher/course/${course.schedule_id}/students`) 查看学生
          else
            tr
              td(colspan="6") 没有课程安排
    a(href="/teacher/edittimetable" class="edit-button")
      img(src="/images/editbutton.png" alt="Edit Timetable")